<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  {{ content }}
  <footer>
    A project by <a href="https://lannonbr.com">Benjamin Lannon</a> | <a href="https://github.com/lannonbr/esm-checker-site">Website Source</a> | <a href="https://github.com/lannonbr/esm-checker">Data Collection Source</a>
  </footer>
</body>
</html>