body {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

nav ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
}

nav ul li {
  list-style: none;
}

.latest-text {
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}

#audits {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

#audits.package-audits {
  margin: 0;
}

#audits th,
#audits td {
  padding: 12px;
}

#audits th {
  text-align: left;
  border-bottom: 1px solid black;
}

#audits tbody tr:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

svg#npm {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

#package-page-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 30px 0;
  width: 100%;
  text-align: left;
}

#package-page-table th,
#package-page-table td {
  border: 1px solid black;
  font-weight: bold;
  padding: 12px;
}

#package-page-table .field-true {
  background-color: rgb(21 128 61);
  color: white;
}

#package-page-table .field-false {
  background-color: rgb(248 113 113);
}

footer {
  text-align: center;
  margin: 20px;
  background-color: #64748b;
  color: white;
  font-weight: bold;

  padding: 10px 5px;
  border-radius: 40px;
}

footer a {
  color: white;
  text-decoration-thickness: 3px;
}
